.whole-footer-container {
    height: 300px;
    width: 105%;
    background-color: rgb(55, 55, 55);
    color: white;
}

.top-footer-container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* border: 1px solid white; */
    height: 70%;

}

.top-footer-header {
    margin-top: 15px;
    font-size: 30px;
    /* border: 1px solid white; */
    width: 70%;
    height: 50px;
    margin-bottom: 15px;
}

.top-footer-body {
    display: flex;
    width: 70%;
    justify-content: space-around;
    height: 50px;
}

.top-footer-body-connect {
    width: 200px;
}



.top-footer-links-container {
    display: flex;
    width: 70%;
    justify-content: space-around;
}

.top-footer-links-container-left {
    width: 200px;
}


.bottom-footer-container {

    width: 100%;
    height: 30%;
    background-color: black;
}

.bottom-footer-text {
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 90%;
    height: 80%;
}
