.whole-navbar {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    height: 70px;
    border-bottom: 1px solid black;
}

.navbar-logo {
    display: flex;
    width: 20%;
    border: 1px solid black;
    justify-content: center;
    height: 35px;
}

.navbar-searchbar-container {
    width: 35%;
    border: 1px solid black;
    height: 35px;
    background-color: rgb(243, 232, 232);
}


.navbar-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 90%;
    height: 30px;

}



.navbar-right-container {
    display: flex;
    width: 45%;
    border: 1px solid black;
    height: 35px;
    align-items: center;
    justify-content: space-around;

}

a {
    color: black;
}

.navbar-login {
    background-color: white;
    color: black;
    border: 1px solid black;
    height: 20px;
    width: 55px;
}

.navbar-signup {
    background-color: rgb(74, 69, 69);
    color: white;
    border: 1px solid black;
    height: 20px;
    width: 68px;
}

.navbar-buttons {
    display: flex;
    width: 27%;
    justify-content: space-around;
}

/* .dropdown-container {
    display: none;
} */


.dropdown-menu {
    border: 1px solid rgba(55, 43, 43, 0.3);
    position: absolute;
    margin-top: 1em;
    width: 13em;
    right: 1em;
    z-index: 1;
    background-color: white;
    height: 15em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 3px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
}

.dropdown-item-container {
    display: flex;
    height: 60px
}

.dropdown-item-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.dropdown-item-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-item-text-top {
    font-weight: bold;
    margin-bottom: 3px;

}

.dropdown-item-text-bottom {
    color: darkgray;
    font-size: 10px;
}


.dropdown-logout-button {
    background-color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
