.search-bar-container {
    margin-left: 8px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 95%;
}

.search-bar-input-container {
    width: 100%;
}

.search-bar-input {
    height: 28px;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgb(249, 249, 249);
}

.clear-button {
    background-color: rgb(249, 249, 249);
    border: none;
}

.shoe-search-results {
    position: fixed;
    top: 60px;
    left: 195px;
    background-color: white;
    width: 42%;
}
