.sell-page-main-container {
    display: flex;

}


.sell-page-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 800px;

}

.formpage-sell-shoe-name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 80px;
}

.formpage-sell-shoe-name {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bolder;
}

.sell-page-image-container {
    /* border: 1px solid black; */
    height: 400px;
    width: 97%;
}

.sell-page-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.sell-page-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 800px;
    background-color: rgb(243, 241, 241);
    padding-left: 10px;
}

.right-container-header {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 80px;
}

.right-container-header-title {
    margin-top: 10px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-container-header-text {
    font-size: 10px;
    font-weight: 600;
}


.shoe-size-list-container {
    display: flex;
    width: 90%;
    height: 50%;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
}


.shoe-size-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 60px);
    margin-top: 10px;
    height: 260px;
    column-gap: 35px;
    row-gap: 8px;
}

.size-price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    align-items: center;
    background-color: white;
    height: 50px;
}

.size-price-container-price {
    margin-top: 2px;
    font-size: 14px;
    color: forestgreen;
}

.cancel-button {
    height: 35px;
    border: 2px solid black;
}
