.sell-page-main-container {
    display: flex;
    border: 1px solid black;
    height: 500px;
    width: 90%;
    background-color: lightgray;
    margin-left: 5%;
}


.sell-page-left-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

.sell-page-right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    height: 100%;
}

.right-container-header {
    height: 100px;
}

.shoe-size-list-container {
    display: flex;
    width: 90%;
    height: 60%;
    border: 1px solid black;
}


.shoe-size-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}
