.navbar-spacing {
    margin-top: 71px;
}
button:hover {
    cursor: pointer;
}





.mainpage-body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 1600px;
}

.mainpage-rotating-img-container {
    margin-top: -130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
    height: 100%;
    width: 90%;
    z-index: -1;
}

.actual-rotating-image {
    height: 100%;
    /* width: 60%; */
    object-fit: cover;
    transition: all 1s ease-in-out;
    max-width: 600px;
}


.mainpage-shoe-listing-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 100%;
    width: 72%
}


.mainpage-shoe-listing-title {
    width: 90%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.see-all-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 85px;
}

.see-all-button-container:hover {
    background-color: rgb(227, 227, 227);
}

.see-all-button {
    color: darkgreen;
    text-decoration: none;
}

.test {
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(6, 170px);
    margin-top: 15px;
    width: 100%;
    max-height: 190px;
    overflow: hidden;
}

@media screen and (max-width: 944px) {
    .test {
        display: grid;
        grid-row: 1;
        grid-template-columns: repeat(3, 170px);
        margin-top: 15px;
        width: 100%;
        max-height: 190px;
        overflow: hidden;

    }

    .ad-image {
        height: 250px;
        width: 490px;
        object-fit: fill;
    }

}

@media screen and (min-width: 945px) and (max-width: 1220px) {
    .test {
        display: grid;
        grid-row: 1;
        grid-template-columns: repeat(4, 170px);
        margin-top: 15px;
        width: 100%;
        max-height: 190px;
        overflow: hidden;

    }

    .ad-image {
        height: 250px;
        width: 659px;
        object-fit: fill;
    }

}

@media screen and (min-width: 1221px) and (max-width: 1416px) {
    .test {
        display: grid;
        grid-row: 1;
        grid-template-columns: repeat(5, 170px);
        margin-top: 15px;
        width: 100%;
        max-height: 190px;
        overflow: hidden;

    }

    .ad-image {
        height: 250px;
        width: 826px;
        object-fit: fill;
    }
}

@media screen and (min-width: 1417px) {
    .ad-image {
        height: 250px;
        width: 999px;
        object-fit: fill;
    }
}
