/* .mainpage-shoe-listing-container {
    display: flex;
    border: 1px solid black;
    width: 200px;
    height: 200px;

} */


button:hover {
    cursor: pointer;
}

.mainpage-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 1600px;
}



.mainpage-rotating-img-container {
    margin-top: -130px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* border: 1px solid black; */
    height: 100%;
    width: 90%;
    z-index: -1;
}


.actual-rotating-image {
    height: 100%;
    width: 60%;
    object-fit: cover;
    transition: all 1s ease-in-out;
}


.mainpage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    height: 40px;
    width: 100%;
    background-color: lightgray;
}


.mainpage-shoe-listing-container {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    height: 100%;
    width: 72%
}

.mainpage-shoe-containers {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    height: 185px;
    margin-right: 20px;
    width: 145px;
    margin-bottom: 10px;

}

.mainpage-shoe-listing-image-container {
    height: 50%;
    margin-bottom: 20px;
}

.mainpage-shoe-listing-image {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

.mainpage-shoe-text-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 2px;
}


.mainpage-shoe-name {
    font-size: 11px;
    margin-bottom: 10px;
    margin-left: 3px;
}

.mainpage-shoe-lowest-ask {
    font-size: 9px;
    color: darkgray;
    margin-left: 3px;
}

.mainpage-shoe-lowest-price {
    margin-left: 3px;
}


.test {
    display: flex;
    margin-top: 15px;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
