.mainpage-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -1px;
    margin-bottom: 50px;
    margin-left: -10px;
    height: 40px;
    width: 105%;
    background-color: rgb(239, 239, 239);
}

.mainpage-header-text {
    text-decoration: none;
    margin: 0 40px;
    font-size: 18px;
    font-weight: 600;

}
