.big-ass-div {
    height: 3000px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.shoe-page-body-container {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.shoe-page-body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    /* border: 1px black solid; */
    width: 72%;
    height: 1500px;
}


.shoe-profile-top-container {
    display: flex;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px
}

.shoe-page-top-left-container {
    width: 65%;
}



.shoe-profile-url-header {
    font-size: 10px;
    color: darkgray;
}

.shoe-profile-title {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 600;
}

.shoe-profile-colorway {
    font-size: 16px;
    color: rgb(132, 122, 122);
}

.shoe-profile-condition {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    height: 13px;
    width: 65px;
    background-color: lightgray;
    border-radius: 3px;
}

.shoe-profile-image-container {
    width: 100%;
}

.shoe-profile-image {
    height: 90%;
    width: 90%;
    object-fit: cover;
}



.shoe-profile-top-right-container {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shoe-profile-top-right-body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgrey;
    height: 130px;
    width: 320px;
    border-radius: 0 0 6px 6px;
}


.shoe-profile-top-right-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 322px;
    height: 40px;
    background-color: lightgray;
    border-radius: 6px 6px 0 0;
}

.shoe-profile-buy-button {
    border: 1px solid black;
    height: 40px;
    width: 8rem;
    margin-right: 10px;
    background-color: white;
    font-weight: 600;
}

.shoe-profile-sell-button {
    border: 1px solid black;
    height: 40px;
    width: 8rem;
    color: white;
    background-color: darkgreen;
}



.shoe-profile-related-products-container {
    margin-top: 10px;
    height: 240px;
    border-bottom: 1px solid darkgray;
    margin-bottom: 10px
}

/* 1475 screen width - 5 */
/* 1272 screen width - 4 */
/* 1015 screen width -3 */

.shoe-profile-related-products {
    margin-top: 15px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(5, 170px);
    /* border: 1px solid black; */
    height: auto;
    width: 92%;
    margin-left: 30px;
    overflow: hidden;
}


/* @media screen and (max-width: 1015px) {
    .shoe-profile-related-products {
        margin-top: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 170px 170px 170px;
        height: auto;
        width: 92%;
        margin-left: 30px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1016px) and (max-width: 1271px) {
    .shoe-profile-related-products {
        margin-top: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 170px 170px 170px 170px;
        height: auto;
        width: 92%;
        margin-left: 30px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1272px) and (max-width: 1475px) {
    .shoe-profile-related-products {
        margin-top: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 170px 170px 170px 170px 170px;
        height: auto;
        width: 92%;
        margin-left: 30px;
        overflow: hidden;
    }
}

@media screen and (min-width: 1476px) {
    .shoe-profile-related-products {
        margin-top: 15px;
        display: grid;
        grid-auto-flow: column;
        grid-template-columns: 170px 170px 170px 170px 170px 170px;
        height: auto;
        width: 92%;
        margin-left: 30px;
        overflow: hidden;
    }
} */







.shoe-profile-product-details-container {
    width: 100%;
    min-height: 250px;
    height: 251px;
    border-bottom: 1px solid darkgray;
}

.shoe-profile-product-body-container {
    display: flex;
}

.shoe-profile-product-body-left-container {
    display: flex;
    width: 35%;
    height: 80px;
}

.shoe-profile-product-body-left-left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin-right: 30px;
    color: rgb(99, 99, 99);
    font-size: 12px;
}

.shoe-profile-product-body-left-right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    font-weight: bold;
}




.shoe-profile-product-body-right-container {
    width: 60%;
    height: 100%;
    margin-left: 20px;
    font-size: 12px;
}

.shoe-profile-product-description {
    color: rgb(104, 104, 104);
}











.shoe-profile-stats {
    /* border: 1px solid black; */
    /* display: flex;
    flex-direction: column; */
    width: 100%;
    height: 200px;
}

.shoe-profile-stats-box-container {
    margin-top: 40px;
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: 240px 240px 240px;
    grid-template-rows: 2;
    column-gap: 10px;
    row-gap: 10px;
    justify-content: center;
}

.shoe-profile-stats-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60px;
    width: 230px;
    border: 1px solid black;
    background-color: lightgray;
}

.shoe-profile-stats-spacing {
    margin-left: 20px;
}

.stat {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 3px;
}

.stat-text {
    font-weight: 500;
    font-size: 13px;
}
