.user-listings-container {
    display: flex;
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

.user-listings-image-container {
    height: 100%;
    width: 40%;
    border: 1px solid black;
}

.listing-shoe-img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}
