.filter-brands {
    display: flex;
    margin-top: 5px;
    width: 90%;

}

.label-spacer {
    margin-left: 5px;

}

input {
    cursor: pointer;
}

.reset-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    border: none;
    height: 50px;
    width: 120px;
    margin-right: 10px;
    background-color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;

}
